body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

hr {
    color: hsl(215, 32%, 27%);
}

.wrapper {
    padding: 5% 5%;
}

.card {
    background-color: hsl(216, 50%, 16%);
    margin: auto;
    border-radius: 2.5%;
}

.container {
    position: relative;
    width: 100%;
}

.card-img-top {
    padding: 7% 7%;
    border-radius: 10%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 28%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .card-img-top {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.card-img-hide {
    padding: 16px 32px;
}




.card-text {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.card-text:hover {
    color: hsl(178, 100%, 50%);
}

.card-para {
    color: hsl(215, 51%, 70%);
}

.card-rate {
    color: hsl(178, 100%, 50%);
    margin-right: 10px;
}

.card-icon-1 {
    color: hsl(178, 100%, 50%);
    padding-right: 5px;
}

.card-days {
    color: hsl(215, 51%, 70%);
    margin-left: 103px;
}

.card-icon-2 {
    color: hsl(215, 51%, 70%);
    padding-right: 5px;
}

.author-details {
    padding: 5px 8px;
}

.author {
    color: hsl(0, 0%, 100%);

}

.author:hover {
    color: hsl(178, 100%, 50%);
}

.avatar-img {
    border: 1px solid white;
    border-radius: 100%;
    width: 12%;
    margin-right: 10px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}